@model WebApplication5.Models.bookSearchArgs

@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "bookSearch" }))
{
    <div class="form-horizontal justify-content-center">

        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_NAME, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_CLASS_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_CLASS_ID, new { @class = "form-control", id = "searchBookClass", style = "width:30%" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_KEEPER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_KEEPER, new { @class = "form-control", id = "searchBookKeeper", style = "width:30%" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_STATUS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_STATUS, new { @class = "form-control", id = "searchBookStatus", style = "width:30%" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <input type="submit" value="查詢" id="searchBtn" class="btn btn-default" />
                <input type="reset" value="清除" id="resetBtn" class="btn btn-default" />
                <input type="button" value="新增" id="insertBtn" class="btn btn-default" />
            </div>
        </div>

    </div>
    <div id="searchBookResultGrid"></div>
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "bookInsert" , style = "display:none" }))
{
    <div class="form-horizontal justify-content-center">

        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_NAME, new { @class = "form-control", required = "true", validationmessage = "必填" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_AUTHOR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_AUTHOR, new { @class = "form-control", required = "true", validationmessage = "必填" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_PUBLISHER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_PUBLISHER, new { @class = "form-control", required = "true", validationmessage = "必填" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_NOTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_NOTE, new { @class = "form-control", required = "true", validationmessage = "必填" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_BOUGHT_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_BOUGHT_DATE, new { @class = "form-control", id="bookDatePicker", required = "true", validationmessage = "必填" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_CLASS_ID, htmlAttributes: new { @class = "control-label col-md-2"  })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BOOK_CLASS_ID, new { @class = "form-control", id = "insertBookClass", required = "true", validationmessage = "必填" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="button" value="儲存" id="saveBtn" class="btn btn-default" />
            </div>
        </div>

    </div>
}

    <script src="~/Scripts/script.js"></script>
